<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/anim.css">
</head>
<body>

    <!-- vs figure -->

    <section>
        <figure>
            <img src="/assets/img/status-de-la-liberte.jpg" alt="status-de-la-liberte">
            <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nam iure illum minus. 
                Rem, qui aut et iusto placeat quia! Magnam laborum eligendi quod
                 velit ad temporibus in commodi distinctio.</figcaption>
                
        </figure>
        <article>
            <figure>
            <img src="/assets/img/pieton-new-york.jpg" alt="passage pieton-new-york">
        </figure>
                <div>
                <h2>une ville style</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat recusandae ratione illum facere aliquam adipisci quod, voluptatem excepturi corrupti hic odio at iure cum sapiente sunt. Culpa magni ullam fugiat?</p>
                <a href=""><span></span></a>
            </div>

        </article>
    </section>


</body>
</html>