<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" href="/assets/css/article.css">
</head>
<body>
    <header></header>

    <section></section>

    <main>
        <section>
            <article>
<!-- country -->
                <header>
                    <h2>New York</h2>
                </header>

                <figure><img src="/assets/img/bali-2975787_1280.jpg" alt="visite le ville " width="15%"></figure>

                <!-- paragraphe -->
                <p>Vister la ville </p>


                <!-- audio -->
                <audio controls >
                    <source src="/assets/audio/congo-ville-12230.mp3" type="audio/mp3">
                </audio>

                <a href="https://www.fnac.com/SearchResult/ResultList.aspx?Search=new+york&sft=1&sa=0" target="new">
                      <span>acheter les guides pour visiter la ville </span>
                </a>

                <!-- footer -->

                <footer>
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </footer>


            </article>
        </section>
    </main>
    
</body>
</html>