<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/nav.css">
    <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
</head>
<body>
    <header>
        <a href="index.html">Login</a>
        <!-- <a href="#mobile" aria-label="open navigation"> Menu</a> -->
        <a href="#mobile" aria-label="open navigation">
            <img src="/assets/img/icons8-nav-50.png" alt="">
        </a>
        <nav>
            <ul id="mobile">
                <li><a href="#" aria-label="close navigation"> Fermer X </a></li>
                <li><a href="">page</a></li>
                <li><a href="">page</a></li>
                <li><a href="">page</a></li>
                <li><a href="">page</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>